@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&family=Roboto+Mono:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, #5151E5 10%, #1897c9 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar .navbar-brand {
  cursor: pointer;
}
.navbar .navbar-brand .navbar-brand-image {
  outline: 2px solid white;
  border-radius: 50%;
  height: 60px;
  margin-top: 10px;
  -webkit-animation: brandImage 3s ease-out 1;
          animation: brandImage 3s ease-out 1;
}
@-webkit-keyframes brandImage {
  0% {
    transform: translateX(-100px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes brandImage {
  0% {
    transform: translateX(-100px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.navbar .navbar-brand .navbar-brand-image:hover {
  height: 65px;
  transition: height 0.5s ease-in-out;
}
.navbar .hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: none;
}
.navbar .navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}
.navbar .navbar-links .navbar-link {
  list-style-type: none;
  -webkit-animation: firstElement 3s ease-out 1;
          animation: firstElement 3s ease-out 1;
}
.navbar .navbar-links .navbar-link .navbar-item {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: "Noto", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar .navbar-links .navbar-link .navbar-item:hover {
  font-size: 1.3em;
  transition: font-size 0.5s ease-in-out;
}
.navbar .navbar-links .navbar-link .bi {
  color: black;
  font-size: 1.3em;
  margin-right: 2px;
}
@-webkit-keyframes firstElement {
  0% {
    transform: translateX(500px);
  }
  60% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes firstElement {
  0% {
    transform: translateX(500px);
  }
  60% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 858px) {
  .hamburger {
    display: inline-block;
  }
  .navbar-links {
    flex-direction: column;
  }
}
.main-contactUs {
  font-family: "Kanit", sans-serif;
  margin: 15px;
  background-color: rgba(232, 233, 235, 0.76);
}
.main-contactUs h1 {
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}
.main-contactUs .start {
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  font-size: 19px;
}
.main-contactUs .end {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
}
.main-contactUs a {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 5px;
  color: #5151E5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.main-contactUs a:hover {
  color: #1897c9;
  font-size: 21px;
}/*# sourceMappingURL=style.css.map */